<h1>Welcome to Coin Combo</h1>
<form action="/coin">
  <div class="form-group">
    <label for="coin">Enter Currency amount</label>
    <input id="coin" name="coin" class="form-control" type="number" step="any">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
